.todo__container{
    display: flex;
    flex-direction: row;
    width: 50vw;
    min-height: 4em;
    border: solid 1px black;
    align-items: center;
    padding: 0 10px;
}
.todo__text{
    padding-left: 10px;
    overflow: auto;
    word-wrap: break-word;
    user-select: none;
}
.complited{
    text-decoration: line-through;
    color: #C0C0C0;
}